RewriteEngine On
RewriteBase /tiffincraft/

# Default route
RewriteRule ^$ public/index.php [L]

# TiffinCraft - Customers
RewriteRule ^login$ app/pages/auth/login.php [L]
RewriteRule ^logout$ app/pages/auth/logout.php [L]
RewriteRule ^register$ app/pages/auth/register.php [L]

# TiffinCraft - Business
RewriteRule ^business/login$ app/pages/auth/login.php [L]
RewriteRule ^business/logout$ app/pages/auth/logout.php [L]
RewriteRule ^business$ app/pages/tiffincraftBusiness.php [L]
RewriteRule ^business/register$ app/pages/tiffincraftBusiness.php [L]
RewriteRule ^business/dashboard$ app/pages/vendors/dashboard.php [L]

# TiffinCraft - Admin
RewriteRule ^admin$ app/pages/auth/login.php [L]
RewriteRule ^admin/login$ app/pages/auth/login.php [L]
RewriteRule ^admin/logout$ app/pages/auth/logout.php [L]
RewriteRule ^admin/dashboard$ app/pages/admin/dashboard.php [L]
RewriteRule ^admin/dashboard/manage-users$ app/pages/admin/users.php [L]

# Accept Vendor
RewriteRule ^admin/dashboard/manage-users/accept-vendor$ controllers/adminController.php?action=accept-vendor [QSA,L]

# Reject Vendor
RewriteRule ^admin/dashboard/manage-users/reject-vendor$ controllers/adminController.php?action=reject-vendor [QSA,L]

# Remove trailing slashes
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [R=301,L]
