RewriteEngine On
RewriteBase /tiffincraft/

# Default route
RewriteRule ^$ public/index.php [L]

# TiffinCraft - Customers
RewriteRule ^login$ views/shared/login.php [L]
RewriteRule ^logout$ views/shared/logout.php [L]
RewriteRule ^register$ views/users/userRegister.php [L]

# TiffinCraft - Business
RewriteRule ^business/login$ views/shared/login.php [L]
RewriteRule ^business/logout$ views/shared/logout.php [L]
RewriteRule ^business$ views/layouts/tiffincraftBusiness.php [L]
RewriteRule ^business/register$ views/layouts/tiffincraftBusiness.php [L]
RewriteRule ^business/dashboard$ views/vendors/businessDashboard.php [L]

# TiffinCraft - Admin
RewriteRule ^admin$ views/shared/login.php [L]
RewriteRule ^admin/login$ views/shared/login.php [L]
RewriteRule ^admin/logout$ views/shared/logout.php [L]
RewriteRule ^admin/dashboard$ views/admin/adminDashboard.php [L]
RewriteRule ^admin/dashboard/manage-users$ views/admin/manageUsers.php [L]

# Accept Vendor
RewriteRule ^admin/dashboard/manage-users/accept-vendor$ controllers/adminController.php?action=accept-vendor [QSA,L]

# Reject Vendor
RewriteRule ^admin/dashboard/manage-users/reject-vendor$ controllers/adminController.php?action=reject-vendor [QSA,L]

# Remove trailing slashes
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [R=301,L]
