.content-body {
    margin-top: 1rem;
}

.menu-content {
    overflow-x: auto;
    margin-top: 20px;
}

.menu-table,
.menu-category {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: max-content;
}

.menu-table table {
    width: 100%;
    border-collapse: collapse;
}

.menu-table th,
.menu-table td {
    border: 1px solid #ddd;
    padding: 0.75rem;
    text-align: left;
}

.menu-table th {
    background-color: #f2f2f2;
}

.menu-category ul {
    list-style-type: none;
    padding: 0;
}

.menu-category li {
    padding: 0.5rem 0;
    font-size: 1rem;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.2s;
}

.menu-category li:hover {
    background-color: #f0f8ff;
}

.submenu {
    display: none;
    list-style: none;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.menu-toggle {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.menu-toggle.active {}

.menu-toggle.active+.submenu {
    display: block;
}

.submenu li a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    display: flex;
    gap: 1rem;
    padding: 0.3rem;
    align-items: center;
    margin-left: 2.7rem;
}

.submenu li a i {
    width: 2rem;
    text-align: center;
}

.submenu li a:hover {
    color: #333;
    background: #fff;
}

.food-img {
    position: relative;
    padding: 0rem !important;
    display: flex;
}

.preview-img {
    position: fixed;
    display: none;
    width: 300px;
    height: auto;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: white;
    z-index: 999;
}