@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");

/* Root Variables */
:root {
  --orange-light: #fed7aa;
  --orange-dark: #fdba74;
  --blue-light: #bfdbfe;
  --blue-dark: #60a5fa;
  --green-light: #bbf7d0;
  --green-dark: #34d399;
  --text-gray: #4b5563;

  --primary-color: #ff5722;
  --primary-hover: #ff3c00;
  --secondary-color: #fff7ed;
  --body-bg: #ffffff;
  --form-bg: #f9f9f9;
  --input-border: #ccc;
  --input-focus: #fb923c;

  --font-family: "Nunito", sans-serif;
  --transition: all 0.3s ease-in-out;
  --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* General Styling */
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  transition: var(--transition);
  font-family: var(--font-family);
  color: #555;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-size: 1.7rem;
  background-color: var(--body-bg);
}

/* Header Styling */
header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;

  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 7%;
  background-color: var(--body-bg);
  box-shadow: var(--box-shadow);
  z-index: 1000;
}

header .logo {
  height: 40px;
  width: auto;
  cursor: pointer;
}

header .navbar .nav-links,
header .nav-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  background: var(--body-bg);
}

header .navbar .nav-links li a,
header .nav-buttons li a {
  /* font-size: 1.7rem; */
  font-weight: 900;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  color: #555;
  transition: var(--transition);
}

header .navbar .nav-links li a:hover {
  color: var(--primary-color);
  transform: scale(1.05);
}

header .nav-buttons li a:hover {
  color: #fff;
  background-color: var(--primary-color);
  transform: scale(1.05);
}

header .nav-buttons i {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 4rem;
  width: 4rem;
  font-size: 1.7rem;
  line-height: 4rem;
  text-align: center;
  background-color: #eee;
  border-radius: 50%;
  transition: var(--transition);
}

header .nav-buttons i:hover {
  color: #fff;
  background-color: var(--primary-color);
  transform: rotate(360deg);
}

#menu-bar {
  display: none;
}

.hidden {
  display: none !important;
}


/* Index Page Home Section  */
.home {
  position: relative;
  height: 100vh;

  background-image: url(../images/hero.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Dark Overlay  */
.overlay {
  position: absolute;
  inset: 0px;
  background-color: #000;
  opacity: 0.6;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 var(--padding);
  height: inherit;
  z-index: 10;
}

.hero-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-txt h1,
.hero-txt p,
.hero-txt a {
  color: #fff;
}

.hero-txt h1 {
  font-family: var(--font-body);
  font-size: 16rem;
  margin-left: -0.5rem;
}

.hero-txt p {
  font-size: 5rem;
}

.hero-txt a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  font-size: 1.7rem;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  border: 1px solid;
  transition: var(--transition);
}

.hero-txt a i {
  color: #fff;
}

.hero-txt a:hover {
  background-color: var(--primary-color);
  transform: scale(1.1);
}

.hero-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 3rem;
}

.hero-nav li {
  padding: 0.5rem 1.5rem;
  background-color: #eff6ff;
  border-radius: 0.5rem;
  transition: var(--transition);
}

.hero-nav li a {
  transition: var(--transition);
  color: #333;
  font-size: 1.7rem;
}

.hero-nav li:hover,
.hero-nav li:hover a {
  color: var(--primary-color) !important;
  transform: scale(1.05);
}

.features-section {
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4rem;
  gap: 0.5rem;
  width: 100%;
}

.features-heading .title {
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: 900;
}

.features-heading .sub-title {
  font-size: 2rem;
  font-style: italic;
  margin-bottom: 1rem;
  font-weight: 700;
}

.features-heading p {
  /* font-style: italic; */
  font-weight: 500;
}

.features-heading p span {
  color: var(--primary-color);
}

.features-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.features-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  height: -webkit-fill-available;
  background-color: #fff7ed;
  box-shadow: var(--box-shadow);
  transition: var(--transition);
}

.features-content:hover {
  transform: scale(1.02);
}

.features-content i {
  font-size: 8rem;
  height: fit-content;
  width: fit-content;
  transition: var(--transition);
  color: var(--primary-color);
  padding: 1rem 0rem;
}

.features-content h2 {
  font-size: 2.5rem;
}

/* How it Works Section  */
.how-section {
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--secondary-color);
}

.how-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4rem;
  gap: 0.5rem;
  width: 100%;
}

.how-heading .title {
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: 900;
}

.how-heading .sub-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
  font-style: italic;
}

.steps-container {
  display: grid;
  gap: 4rem;
  padding: 2rem;
}

.step {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
}

.step.reverse {
  grid-template-columns: 1fr 1fr;
  /* direction: rtl; */
}

.step-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.step-number {
  font-size: 12rem;
  font-weight: bold;
  transition: color 0.3s ease;
  line-height: 12rem;
  margin-left: -0.5rem;
}

/* .step-number:hover {
  color: var(--orange-dark);
} */

.orange {
  color: var(--orange-light);
}

.orange:hover {
  color: var(--orange-dark);
}

.blue {
  color: var(--blue-light);
}

.blue:hover {
  color: var(--blue-dark);
}

.green {
  color: var(--green-light);
}

.green:hover {
  color: var(--green-dark);
}

.step-title {
  font-size: 5rem;
  margin-bottom: 1rem;
  color: var(--text-gray);
}

.step-description {
  /* font-size: 1.2rem; */
  color: var(--text-gray);
}

.link {
  color: var(--blue-dark);
  font-weight: bold;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.step-image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-image {
  z-index: 10;
  max-height: 400px;
  width: auto;
}

.circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.8;
}

.circle.orange.large {
  background-color: var(--orange-dark);
  width: 200px;
  height: 200px;
  top: -20px;
  left: -20px;
}

.circle.orange.small {
  background-color: var(--orange-light);
  width: 150px;
  height: 150px;
  bottom: 0;
  right: -20px;
}

.rotated-box {
  position: absolute;
  transform: rotate(45deg);
  opacity: 0.7;
}

.rotated-box.blue.large {
  background-color: var(--blue-light);
  width: 160px;
  height: 160px;
  top: -30px;
  left: -30px;
}

.rotated-box.blue.small {
  background-color: var(--blue-dark);
  width: 100px;
  height: 100px;
  bottom: 10px;
  right: -10px;
}

.skewed-box {
  position: absolute;
  transform: skewX(-30deg);
  opacity: 0.7;
}

.skewed-box.green.large {
  background-color: var(--green-light);
  width: 200px;
  height: 60px;
  top: 20px;
  left: 0;
}

.skewed-box.green.small {
  background-color: var(--green-dark);
  width: 150px;
  height: 40px;
  bottom: -20px;
  right: -20px;
}






/* Form Page Section  */
.form-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  padding-bottom: 60px;
  padding-top: 60px;
  min-height: 100vh;
}

.auth-container {
  position: relative;
  width: 100%;
  max-width: 450px;
  background: var(--body-bg);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  margin: 5rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.auth-form h2 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 2rem;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group label {
  font-weight: 500;
  /* color: #555; */
}

.form-group input,
.form-group select {
  padding: 0.7rem;
  border: 1px solid var(--input-border);
  border-radius: 0.5rem;
}

.form-group input:focus,
.form-group select:focus {
  outline: none;
  border-color: var(--input-focus);
  box-shadow: 0 0 5px rgba(255, 87, 34, 0.5);
}

.form-group h3 {
  border-bottom: 2px solid var(--input-border);
  margin-top: 2rem;
}

.btn {
  padding: 12px 15px;
  color: var(--secondary-color);
  background: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background: var(--primary-hover);
}

.switch-auth {
  text-align: center;
  font-size: 1.5rem;
}

.switch-auth a {
  color: var(--primary-color);
  text-decoration: none;
}

.switch-auth a:hover {
  text-decoration: underline;
}


/* Responsive Design */
@media (max-width: 860px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 1rem 5%;
  }

  /* header .logo {
    height: 35px;
  } */
}

@media (max-width: 750px) {
  #menu-bar {
    display: inline-block;
  }

  header .navbar .nav-links {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar .nav-links.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar .nav-links li {
    width: 100%;
  }

  header .navbar .nav-links li a {
    display: block;
    padding: 1rem 2rem;
    margin: 0.5rem;
    font-size: 2rem;
    background: #eee;
  }

  .hero-txt h1 {
    /* font-family: var(--font-body); */
    font-size: 14rem;
    /* margin-left: -0.5rem; */
  }

  .hero-txt p {
    font-size: 4rem;
  }
}

@media (max-width: 640px) {
  html {
    font-size: 50%;
  }

  header {
    padding: 1rem 3%;
  }

  header .logo {
    header .logo {
      height: 35px;
    }
  }

  .hero-txt h1 {
    font-size: 10rem;
  }

  .hero-txt p {
    font-size: 3rem;
  }
}

@media (max-width: 600px) {
  .features-container {
    grid-template-columns: auto;
  }

}

@media (max-width: 350px) {
  html {
    font-size: 45%;
  }
}