@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");

/* Root Variables */
:root {
  --orange-light: #fed7aa;
  --orange-dark: #fdba74;
  --blue-light: #bfdbfe;
  --blue-dark: #60a5fa;
  --green-light: #bbf7d0;
  --green-dark: #34d399;
  --red-light: #fecaca;
  --red-dark: #fca5a5;
  --text-gray: #4b5563;

  --primary-color: #ff5722;
  --primary-hover: #ff3c00;
  --secondary-color: #fff7ed;
  --body-bg: #ffffff;
  --form-bg: #f9f9f9;
  --input-border: #ccc;
  --input-focus: #fb923c;

  --font-family: "Nunito", sans-serif;
  --transition: all 0.3s ease-in-out;
  --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* General Styling */
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  transition: var(--transition);
  font-family: var(--font-family);
  color: #555;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 60px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.7rem;
  background-color: var(--body-bg);
}

.custom-shape {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 152px;
}

.shape1-color {
  background-color: var(--secondary-color);
}

.custom-shape .shape1-fill {
  fill: #FFFFFF;
}

.shape2-color {
  background-color: #FFFFFF;
}

.custom-shape .shape2-fill {
  fill: var(--secondary-color);
}

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer {
  background-image: url('../images/layer3.svg');
  position: absolute;
  bottom: 0;
  height: 100%;
  margin-bottom: -0.5rem;
}

.top {
  rotate: 180deg;
  top: -10rem;
}

.flip {
  rotate: 180deg;
}

/* Header Styling */
header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;

  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 7%;
  background-color: var(--body-bg);
  box-shadow: var(--box-shadow);
  z-index: 1000;
}

header .logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .logo {
  height: 40px;
  width: auto;
  cursor: pointer;
}

header .navbar .nav-links,
header .nav-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  background: var(--body-bg);
}

header .navbar .nav-links li a,
header .nav-buttons li a {
  /* font-size: 1.7rem; */
  font-weight: 900;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  color: #555;
  transition: var(--transition);
}

header .navbar .nav-links li a:hover {
  color: var(--primary-color);
  transform: scale(1.05);
}

header .nav-buttons li a:hover {
  color: #fff;
  background-color: var(--primary-color);
  transform: scale(1.05);
}

header .nav-buttons i {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 4rem;
  width: 4rem;
  font-size: 1.7rem;
  line-height: 4rem;
  text-align: center;
  background-color: #eee;
  border-radius: 50%;
  transition: var(--transition);
}

header .nav-buttons i:hover {
  color: #fff;
  background-color: var(--primary-color);
  transform: rotate(360deg);
}

#menu-bar {
  display: none;
}

.hidden {
  display: none !important;
}


/* Index Page Home Section  */
.home {
  position: relative;
  height: 100vh;

  background-image: url(../images/hero.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Dark Overlay  */
.overlay {
  position: absolute;
  inset: 0px;
  background-color: #000;
  opacity: 0.6;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 var(--padding);
  height: inherit;
  z-index: 10;
}

/* .hero-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */


.hero-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 5rem 3rem 5rem;
  background: #33333387;
  border-radius: 2rem 8rem;
}

.hero-txt h1,
.hero-txt p,
.hero-txt a {
  color: #fff;
}

.hero-txt h1 {
  font-family: var(--font-body);
  font-size: 16rem;
  margin-left: -0.5rem;
}

.hero-txt p {
  font-size: 5rem;
}

.hero-txt a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  border: 1px solid;
  transition: var(--transition);
  background: #333333b5;
}

.hero-txt a i {
  color: #fff;
}

.hero-txt a:hover {
  background-color: var(--primary-color);
  transform: scale(1.1);
}

.hero-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 3rem;
}

.hero-nav li {
  padding: 0.5rem 1.5rem;
  background-color: #eff6ff;
  border-radius: 0.5rem;
  transition: var(--transition);
}

.hero-nav li a {
  transition: var(--transition);
  color: #333;
  font-size: 1.7rem;
  font-weight: bold;
}

.hero-nav li:hover,
.hero-nav li:hover a {
  color: var(--primary-color) !important;
  transform: scale(1.1);
}

.section {
  padding: 1% 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.section-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-bottom: 4rem; */
  gap: 0.5rem;
  width: 100%;
}

.section-heading .title {
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: 900;
}

.section-heading .sub-title {
  font-size: 2rem;
  /* margin-bottom: 1rem; */
  font-weight: 700;
  font-style: italic;
}

.section-heading .text {
  font-weight: 500;
}

.section-heading .text span {
  color: var(--primary-color);
}

.section.features {
  background-color: var(--secondary-color);
}

.features-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.features-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  height: -webkit-fill-available;
  background-color: var(--body-bg);
  box-shadow: var(--box-shadow);
  transition: var(--transition);
}

.features-content:hover {
  transform: scale(1.02);
}

.features-content i {
  font-size: 8rem;
  height: fit-content;
  width: fit-content;
  transition: var(--transition);
  color: var(--primary-color);
  padding: 1rem 0rem;
}

.features-content h2 {
  font-size: 2.5rem;
}

/* How it Works Section  */

.steps-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 2rem;
}

.step {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.step-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.step-number {
  font-size: 12rem;
  font-weight: bold;
  transition: color 0.3s ease;
  line-height: 12rem;
  margin-left: -0.5rem;
}

.orange {
  color: var(--orange-light);
}

.orange:hover {
  color: var(--orange-dark);
}

.blue {
  color: var(--blue-light);
}

.blue:hover {
  color: var(--blue-dark);
}

.green {
  color: var(--green-light);
}

.green:hover {
  color: var(--green-dark);
}

.red {
  color: var(--red-light);
}

.red:hover {
  color: var(--red-dark);
}

.step-title {
  font-size: 5rem;
  margin-bottom: 1rem;
  color: var(--text-gray);
}

.step-description {
  color: var(--text-gray);
}

.link {
  color: var(--blue-dark);
  font-weight: bold;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.step-image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-image {
  z-index: 10;
  height: 400px;
  width: 400px;
}

.circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.8;
}

.circle.orange.large {
  background-color: var(--orange-dark);
  width: 250px;
  height: 250px;
  top: -25px;
  left: 0px;
}

.circle.orange.small {
  background-color: var(--orange-light);
  width: 160px;
  height: 160px;
  bottom: 0;
  right: 50px;
}

.rotated-box {
  position: absolute;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  opacity: 0.7;
}

.rotated-box.green.large {
  background-color: var(--green-light);
  width: 300px;
  height: 300px;
  top: -30px;
  left: 0px;
}

.rotated-box.green.small {
  background-color: var(--green-dark);
  width: 140px;
  height: 140px;
  bottom: 0px;
  right: 50px;
}

.section.partner {
  background: var(--secondary-color);
}

.section.dishes {
  background: var(--secondary-color);
}

.dishes .swiper-slide {
  background: var(--body-bg);
}

.section.vendors .section-heading {
  /* margin-bottom: 0px; */
}



/* Form Page Section  */
.form-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  padding-bottom: 60px;
  padding-top: 60px;
  min-height: 100vh;
}

.auth-container {
  position: relative;
  width: 100%;
  max-width: 450px;
  background: var(--body-bg);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  margin: 5rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.auth-form h2 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 2rem;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group label {
  font-weight: 500;
  /* color: #555; */
}

.form-group input,
.form-group select {
  padding: 0.7rem;
  border: 1px solid var(--input-border);
  border-radius: 0.5rem;
}

.form-group input:focus,
.form-group select:focus {
  outline: none;
  border-color: var(--input-focus);
  box-shadow: 0 0 5px rgba(255, 87, 34, 0.5);
}

.form-group h3 {
  border-bottom: 2px solid var(--input-border);
  margin-top: 2rem;
}

.btn {
  padding: 12px 15px;
  color: var(--secondary-color);
  background: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background: var(--primary-hover);
}

.switch-auth {
  text-align: center;
  font-size: 1.5rem;
}

.switch-auth a {
  color: var(--primary-color);
  text-decoration: none;
}

.switch-auth a:hover {
  text-decoration: underline;
}

/* Slider Design  */
.slider {
  padding: 5rem;
}

.slide-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 0.5rem;
  margin-bottom: 1rem;
}

.slide-top span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.slider-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.card-list .card-link,
.card-image {
  width: 100%;
  border-radius: 1.5rem;
  aspect-ratio: 16/9;
  object-fit: cover;
}

/*
.card-wrapper {
  width: 400px;
}

.card-list,
.card-link {}

.card-item {
  width: 400px;
  display: block;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
}

.card-list .card-link,
.card-image {
  width: 100%;
  border-radius: 1.5rem;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.card-badge {}

.card-title {}

.card-button {} */


/* Responsive Design */
@media (max-width: 860px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 1rem 5%;
  }

  .step {
    flex-direction: column;
    gap: 5rem;
  }

  .reverse {
    flex-direction: column-reverse;
  }
}

@media (max-width: 750px) {
  #menu-bar {
    display: inline-block;
  }

  header .navbar .nav-links {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar .nav-links.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar .nav-links li {
    width: 100%;
  }

  header .navbar .nav-links li a {
    display: block;
    padding: 1rem 2rem;
    margin: 0.5rem;
    font-size: 2rem;
    background: #eee;
  }

  .hero-txt h1 {
    font-size: 14rem;
  }

  .hero-txt p {
    font-size: 4rem;
  }
}

@media (max-width: 640px) {
  html {
    font-size: 50%;
  }

  header {
    padding: 1rem 3%;
  }

  header .logo {
    header .logo {
      height: 35px;
    }
  }

  .hero-txt h1 {
    font-size: 10rem;
  }

  .hero-txt p {
    font-size: 3rem;
  }
}

@media (max-width: 600px) {
  .hero-txt {
    padding: 0rem 4rem 2rem 4rem;
  }

  .features-container {
    grid-template-columns: auto;
  }

  .step-image {
    height: 90%;
    width: 90%;
  }

  .circle.orange.large {
    height: 220px;
    width: 220px;
  }

  .circle.orange.small {
    height: 120px;
    width: 120px;
  }

  .rotated-box.green.large {
    height: 250px;
    width: 250px;
  }

  .rotated-box.green.small {
    height: 100px;
    width: 100px;
  }

  .step-number {
    font-size: 10rem;
  }

  .step-title {
    font-size: 4rem;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 45%;
  }

  .hero-txt {
    padding: 0rem 3rem 1rem 3rem;
  }

  .card-list,
  .card-item,
  .card-link {
    width: 350px;
    display: block;
  }
}

/* @media (max-width: 350px) {
  html {
    font-size: 45%;
  }
} */