.container {
	width: 100%;
	margin: auto;
	position: relative;
}

.swiper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 1.5rem;
}

.swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #fff7ed;
	border-radius: 0.5rem;
	gap: 0.5rem;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.swiper-slide:hover {
	transform: scale(1.05);
}

.swiper-slide img {
	max-width: 100%;
	height: auto;
	border-radius: 0.5rem;
	/* border-radius: 0.5rem 0.5rem 0rem 0rem; */
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	position: relative;
	bottom: 0;
}

.swiper-pagination-bullet {
	/* background: #fed7aa; */
	background: #ff5622;
}

/* .swiper-pagination-bullet-active {
	background: #ff5722;
} */

.swiper-button-next,
.swiper-button-prev {
	color: #fff;
	height: fit-content;
	width: fit-content;
	position: relative;
	margin-top: 0px;
	top: 0;
	padding: 1rem 1.5rem;
	background: #ff5622d9;
	border-radius: 50%;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
	transform: scale(1.1);
	background: #ff3c00;
}

.swiper-button-next:after,
.swiper-button-prev:after {
	font-size: large;
	font-weight: bold;

}

.swiper-buttons {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}